@import 'normalize.css';


/* CUSTOM CSS */
@font-face {
  font-family: StandardBook;
  src: url(fonts/standard-book-webfont.woff2);
}

@font-face {
  font-family: StandardItalic;
  src: url(fonts/standard-book-italic-webfont.woff2);
}

html {
	font-family: StandardBook, Helvetica, Arial, sans-serif; 
}